  &raquo; Contatos
        | <?php echo $this->Html->link('Adicionar', array('action' => 'adicionar')); ?>
        | <a href="./">Página Inicial</a>
        <br>
        <br>
<table>                 
<tr> 
<th style="width:65px;text-align:center;">Código</th> 
<th>Nome</th> <th>Login</th> <th>E-mail</th> 
<th>Ações</th> 
</tr> 

<?php foreach ($contatos as $Contato) {
 ?> 
<tr> 
<td><?=$Contato['Contato']['id']?></td> 
<td><?=$Contato['Contato']['nome']?></td> 
<td><?=$Contato['Contato']['telefone']?></td> 
<td><?=$Contato['Contato']['celular']?></td> 
<td><?php echo $this->Html->link('Editar', array('action' => 'editar', $Contato['Contato']['id'])); ?> | <?php echo $this->Html->link( 'Excluir', array( 'action' => 'excluir', $Contato['Contato']['id']), array('confirm' => 'Você tem certeza que quer excluir este Contato?') ); ?></td> 
</tr> 

<?php } ?> 
</table>
