<h2>Adicionar Login</h2>

&raquo; Login
| <a href="../">Página Inicial</a>

 <?php echo $this->Form->create('User');?>
        <fieldset>
        <?php
            echo $this->Form->input('username');
            echo $this->Form->input('password', array('value' => ''));          
        ?>
        </fieldset>
    <?php echo $this->Form->end('Enviar');?>