  <h2>Login</h2>
  
  &raquo; Login
  | <a href="../">Página Inicial</a>
        
    <?php echo $this->Form->create('User', array('url' => array('controller' => 'users', 'action' => 'login')));?>
        <fieldset>
        <?php
            echo $this->Form->input('username');
            echo $this->Form->input('password');
        ?>
        </fieldset>
    <?php echo $this->Form->end('Enviar');?>